#pragma once
#include "framework.h"

namespace credentials
{
	// 请复制此文件为 CredentialsConsts.h 并填入你的凭证
	static const std::string APP_ID = "YOUR_APP_ID";
	static const std::string ACCESS_KEY_ID = "YOUR_ACCESS_KEY_ID";
	static const std::string ACCESS_KEY_SECRET = "YOUR_ACCESS_KEY_SECRET";
}
