#include "Resource.h"
#include "winver.h"

// 版本信息资源
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 22,0,0,0
 PRODUCTVERSION 22,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "小鬼科技"
            VALUE "FileDescription", "MonsterOrderWilds - 点怪机"
            VALUE "FileVersion", "22"
            VALUE "InternalName", "MonsterOrderWilds.exe"
            VALUE "LegalCopyright", "小鬼科技"
            VALUE "OriginalFilename", "MonsterOrderWilds.exe"
            VALUE "ProductName", "MonsterOrderWilds"
            VALUE "ProductVersion", "22"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END